@font-face {
    font-family: 'UKNumberPlate'; /*a name to be used later*/
    src: url('/fonts/UKNumberPlate.ttf'); /*URL to font*/
}

* {
    padding: 0;
    margin: 0;
    font-family: 'UKNumberPlate';
}

body {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}

.navbar {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar img {
    width: 100%;
    object-fit: fill;
}

.nav-links {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.nav-links a {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: black;
}

.main-container {
    width: 40%;

    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.reg-plate-outline {
    min-width: 0;
    padding: .4em .2em;
    text-align: center;
    background-color: #fd0;
    border-radius: .25em;
    text-transform: uppercase;
    font-size: xx-large;
    border: 1px solid #f3f2f100;
}

.reg-plate-outline-button:hover {
    border: 1px solid black;
}

.comments-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.comments-container .comment {
    width: 95%;

    padding: .4em .2em;
    background-color: #F3F2F1;
    border-radius: .25em;
}

@media only screen and (max-width: 320px) {
    .main-container {
        width: 100%;
    }
}

@media only screen and (min-width:321px) and (max-width:768px) {
    .main-container {
        width: 80%;
    }
}